<section class="slice animate-hover-slide bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Artykuły</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block article grid">
                        <div class="article-image">
                            <img src="images/prv/magazine/magazine-small-1.jpg" alt="">
                            <h4 class="image-title base">Zobacz koniecznie</h4>
                        </div>
                        <h3 class="title">
                            <a href="">{{articles[0].Title}}</a>
                        </h3>
                        <p>
                        {{articles[0].Content  | limitTo: 190 }}{{articles[0].Content.length > 190 ? '...' : ''}}
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                  <div ng-repeat="article in articles" ng-hide="$first" ng-if="($index+1) % 2 == 0" class="row">
                    <div class="col-md-6">
                        <div class="wp-block article list">
                            <div class="article-image">
                                <img src="images/prv/magazine/magazine-small-6.jpg" alt="">
                            </div>
                            <div class="wp-block-body">
                                <h3 class="title">
                                    <a href="" hidefocus="true">{{articles[$index].Title}}</a>
                                </h3>
                                <p>
                                {{articles[$index].Content | limitTo: 60 }}{{articles[$index].Content.length > 60 ? '...' : ''}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wp-block article list">
                            <div class="article-image">
                                <img src="images/prv/magazine/magazine-small-6.jpg" alt="">
                            </div>
                            <div class="wp-block-body">
                                <h3 class="title">
                                    <a href="" hidefocus="true">{{articles[$index+1].Title}}</a>
                                </h3>
                                <p>
                                L{{articles[$index+1].Content | limitTo: 60 }}{{articles[$index+1].Content.length > 60 ? '...' : ''}}
                                </p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
